doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/navbar.css')
    link(rel='stylesheet', href='/css/searchbar.css')
    link(rel='stylesheet', href='/css/bg_slides.css')
    link(rel='stylesheet', href='/css/search_style.css')
    script(src='/js/jquery.min.js')
    script(src='/js/cardbuilds.js')
    script(src='/js/actions.js')
  body
    include ../pages/navbar.html
    h1 Music tracks in cart
    div(class="result_container" id="result_container")
    div(class="result_container")
      h1(id="totalcost")
      center
        button(class="pbutton" id="purchase_button" onclick="purchase()")
          i(class="fa fa-usd") Purchase