doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/navbar.css')
    link(rel='stylesheet', href='/css/searchbar.css')
    link(rel='stylesheet', href='/css/search_style.css')
    link(rel='stylesheet', href='/css/dropdown.css')
    script(src='/js/jquery.min.js')
    script(src='/js/jquery.dropdown.js')
    script(src='/js/modernizr.custom.63321.js')
    script(src='/js/cardbuilds.js')
    script(src='/js/actions.js')
  body
    include ../pages/navbar.html
    include ../pages/searchbar.html
    div(class='result_container' id='result_container')
