doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bg_slides.css')
    link(rel='stylesheet', href='/css/signinup.css')
    link(rel='stylesheet', href='/css/navbar.css')
    link(rel='stylesheet', href='/css/search_style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='/js/sha512.js')
  body
    include ../pages/navbar.html
    include ../pages/signup.html